language: node_js

node_js:
- '6'
- '7'
- '8'

# Use container-based Travis infrastructure.
sudo: false

branches:
  only:
  - master
  - "/^greenkeeper/.*$/"

env:
  global:
  - DEBUG=graphbrainz*
  - secure: "dvvBAmbva5a2X/9g0zxRefyquUxsTS/uUuoKVw1lKhuNTIfh5xRCLeZrdSV6CqBsAXpbSslKqyZmr65EMjUjX0I6DwkYQ6wKZncv8AyVujfNAbXp46lEOk6ibCpooUweoMuZBypxzbTJ3XeeOUULvDQ5p3Uf5wRarPlxTrDQ2N3DSX0WNju3xiP/HdU+cttP1uRN+3LRCnENhCEsGUwOWFYjgoO89pjD3nckJoRUbRC54mwIwHUbfygWzNjoaOxDqedpAhAiVZKv+mRrUbmOQq6EPmS3XT8yvYKsf3vnjGfvjY1swV+vclfgE/pHCkmMfNwqaHpFIeA60/zABzsZwye71RiBcm5ObTQD62X/zk3Tp5KCWbRIUe2mjifxiiFbcB722W6+hG/AduXa8fpNOgMV8vApeKr2oYGffW2KA8NppYtK+7fu8wlV73BSd3vbeGJlOKiMfWbJCzy2AtjZF3eFgerB87SEmwSxyuEa6tvXX0scToKjAuViyJbqbwsr4D3cDKdstxIIBWCrAgth6mFEE1E/eHs5GBaCOcmzhw7lfIf1xul1sAyMWi/YRQcnB8/iPUFt+7XfK2+ki66yyIjIoMrxTjzsF4zHiGDHYVt1Ype9LDwu+brsiLke1/v/rL6h0+VTTKLGKJ7lXp0N7gk714q3xFl0rJTFRslo0mA="
  - secure: "ZHNxzuNim9sPyX4fB4sJBFqltR1DZOQsg0Ps8B92BbvFAsHym6lDN8QxDEoJDu2SqoltXd6ZMrVQEBu07OiANCuuNNZ31lkdeYmULuAF0lROsuSLA+4+Zn/FOqTSZokeuyyyr2tRn2RMX2JzYqwRpRAQRO+KXAO8RYZGQeyI0y4eDgDRhfr0rI/OtarfoKq8WkK0cyIJY1TBmRylsA/YIJAQkiqCsKdMmkg/o5ZV9vp4LRZ/VmrNUZ2mxwILCAUCEm2GCVaUo31/NfTPO5gLHEFqWm3UxOoXBdvW4d8jKbd7cwznm0RJNpQxnJaGizrpVqz0fj29FF6va5OOaykA3+CenDW6hS6r1W1y4uZiSlC4wxkbVXCv0jl0CFkMHRTLpsdRVsD1G6YG/JIhubIEJolwrP05EqhTbLzgtzc6DDHpcUorFJYFm2OxN9RP9ydFJbUN1EuYSxCQXk7S82GRw0mjqg6Z0YcYpsNYKTSPIWBVQZfTXzf/zcs64xGdAc2rWDDhB0hyRM0fj67/JdUzl8utk2YZMn+4iFC0hnb5V7uWDaCFaYa++6rmeVfSgFacfi6gEUQgwEiDlTl6wubjs2mggXXyyPvk9kjzYAHi8C4luQaul5vIRV6e2IpXzGs5/3jIGsBCqD/Ckrbyjp3pGk9eTcc0560u8pPjsbVA8sE="

script:
- yarn test

after_success:
- $(yarn bin)/nyc report --reporter=text-lcov | $(yarn bin)/coveralls
- bash <(curl -s https://codecov.io/bash)
